@media (min-width: 992px) {
  .showcaseSection {
    padding: 0 100px;
  }
  #showTitle{
    margin-bottom: 50px;
  }
  .cardContainer {
    display: grid !important;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr) !important;
  }
  .showCard {
    width: 460px !important;
    margin: 0 auto !important;
  }
  #showCard {
    margin-top: 100px !important;
  }
}
