@media (min-width: 992px) {
  .processSection {
    padding: 100px;
  }
  .processCardContainer {
    display: grid !important;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 20px !important;
    margin-top: 50px;
  }
  .cardItem {
    border-radius: 0 15px 15px 15px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
}
.processText {
  text-align: justify !important;
  font-size: 12px;
}
.processTitle {
  font-size: 18px;
  font-weight: 500;
}
